
* {
    font-family: "Lato Extended", "Leto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
    background-color: #245BF8;
}

.header {
    background-color: #C6181E;
    color: #FFF;
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 30px;
}

.container {
    position: relative;
    bottom: -300px;
    width: 500px;
    height: 50px;
    left: 450px;
    display: flex;
    align-items: center;
}

.button {
    background-color: #C6181E;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 50px;
    color: white;
    font-size: 40px;
    border-radius: 25px;
    border: hidden;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #B40005;
    color: white;
}

.button:active {
    background-color: #B40005;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}