
.start-button {
    background-color: #C6181E;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 50px;
    color: white;
    font-size: 40px;
    border-radius: 25px;
    border: hidden;
    font-family: "Lato Extended", "Leto", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    transition: 0.4s;
    cursor: pointer;
}

.start-button:hover {
    background-color: #245BF8;
    color: white;
}

.start-button {
    box-shadow: 0 5px #666;
    transform: translateY(4px)
}

div {
    position: relative;
    bottom: -300px;
    width: 500px;
    height: 50px;
    left: 450px;
    display: flex;
    align-items: center;
}   